html{
    font-family: 'Roboto', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    background-color: #D3FF82;
}

.navbar{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: #121D2B;
    position: sticky;
    top: 0;
}
.navbar > a {
    text-decoration: none;
    color: white;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar >ul >li{
    font-size: 1.5rem;
    font-weight: bold;
}

header > #teamname {
    display: flex;
    justify-content: center;
    background-color: #121D2B;
    color: white;
}

header > #teamname a {
    color: #94B24D;
    font-weight: bold;
}

.heading{
    text-align: center;
}

#searchbar {
    display: flex;
    justify-content: right;
    padding: 7.5px;
}

#homepage {

    width: auto;
    margin-top: 50px;

}
.recentlist > ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    width: auto;
    align-self: center;
}

.recentlist {
    margin-bottom: 50px;

}

.topreviews > ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    width: auto;
    align-self: center;
}

.topreviews {
    margin-bottom: 50px;

}

a {
    text-decoration: none;
}

.categoryTypes >a {
    color: #363D52;
    font-weight: bold;
    padding: 15px;
    font-size: x-large;
    margin-bottom: 5px;
}

.img_thumb{
    width: 200px;
    height: 300px;
}
li{
    padding: 20px;
}

.footer {
    display: flex;
    justify-content: center;
}

.categoryHeader {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: xx-large;
}

.categoryTypes {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 50px;
    align-items: center;
}


.action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.romance {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comedy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horror {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hashtagTypes  a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    color: white;
}

.hashtagTypes {
   /* max-width: 1000px; */
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;

}

.hashtagTypes ul {
    list-style: none;

}

.hashtagTypes ul > li {
    display: inline-flex;
    background-color: #121D2B;
    padding: 5px 15px;
    margin: 5px 5px;
    border-radius: 100px;
    font-size: 40px;
}

.logo {
    width: 1000px;
    display: flex;
    justify-content: center;
    background-color: #121D2B;

}

.logo1 {
    width: 5%;
    height: 5%;
    display: flex;
    justify-content: center;
    background-color: #121D2B;
}
