html{
    font-family: 'Roboto', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    background-color: #ecdf22da;
}

.navbar{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: #A6242F;
    position: sticky;
    top: 0;
}
.navbar > a {
    text-decoration: none;
    color: white;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar >ul >li{
    font-size: 1.5rem;
    font-weight: bold;
}

header > #teamname {
    display: flex;
    justify-content: center;
}

#searchbar {
    display: flex;
    justify-content: right;
    padding: 7.5px;
}

#homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    align-self: center;
    width: 1000px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.recentlist {
    margin-bottom: 50px;
}

.topreviews {
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: black;
}

#secondRecent {
    width: 20%;
}







/* yellow - body #F2E638
   dull red - #F25041
   greyish - #594848
   
   Brainstorming:
   change hyperlinks
   */
